<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>갤러리 접근 권한을 사용합니다</string>
	<key>NSCameraUsageDescription</key>
	<string>QR/바코드 스캔을 위해 카메라 권한을 사용합니다</string>
	<key>UIApplicationSceneManifest</key>
	<dict/>
</dict>
</plist>
